.title-home {
  color: #333333;
  font-family: Roboto;
  font-size: 26px;
  font-weight: 500;
  grid-area: auto;
  line-height: 31.2px;
  text-align: left;
  text-transform: uppercase;
  margin: 0 100px;
}
.title-container {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
.title-more {
  margin: 0 100px;
  color: #c1554e;
  font-family: Roboto;
  grid-area: auto;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
}
