@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.my-dropdown {
  animation: slideIn 0.5s ease forwards;
  display: none;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
.scroll-to-top {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-price:focus {
  outline: none;
  border: 1px solid #000;
}
.sort-dropdown {
  position: absolute;
  /* display: none; */
  background-color: white; /* Màu nền cho dropdown */
  border: 1px solid #d5d6d6; /* Đường viền cho dropdown */
  z-index: 1000; /* Đảm bảo dropdown hiển thị trên các phần tử khác */
  width: 100%;
  top: 49px;
  left: 0;
}

.sort-content {
  position: relative; /* Đảm bảo phần tử cha của sort-item có vị trí tương đối */
}
.sort-item {
  padding: 0.9375rem;
  padding-right: 150px;
  width: 101%;
}
.sort-item.active {
  background-color: #ce2d2f;
  color: white;
}
.sort-item:hover {
  color: #f57223;
}
.sort-name {
  font-weight: 600;
}
.list-img {
  display: flex; /* Sử dụng flexbox */
  flex-wrap: nowrap; /* Không cho phép trải dài xuống hàng mới */
  overflow-x: auto; /* Cho phép cuộn ngang nếu nội dung vượt quá kích thước của container */
  margin-bottom: 10px; /* Khoảng cách dưới cùng */
}

.list-img img {
  width: 152px; /* Thiết lập chiều rộng của hình ảnh */
  height: auto; /* Đảm bảo tỷ lệ khung hình tự động */
  margin-right: 10px; /* Khoảng cách giữa các hình ảnh */
}
